<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintnance</title>
</head>
<body>
    <h1>We will be right back, having some issues</h1>
    {{> footer }}
</body>
</html>